@charset "UTF-8";
body{
    background-color: #D9D9D9;
}
header{
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.493);
    border: 1px solid #080808;
    background-color: #BFBFBF;
    padding: 10px;
    text-align: center;
}
nav{
    border-radius: 10px;
    box-shadow: inset 2px 2px 8px 0px rgba(0, 0, 0, 0.493);
    border: 1px solid #080808;
    background-color: #999999;
    padding: 5px;
}
a:hover{
    color:#BFBFBF;
    text-decoration: underline;
    background-color:#252525;
    padding: 2px;
}
a{
    margin: 10%;
    text-decoration: none;
    color: rgb(3, 37, 77);
}
h1{
    border-radius: 5px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.596);
    width: 300px;
    margin: auto;
    border: 2px solid #080808;
}
main{
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.342);
    border: 1px solid #080808;
    background-color:#BFBFBF;
    padding: 10px;
}
p{
    padding: 10px;
    margin: 15px;
}
footer{
    margin: 0px;
    text-align: center;
    background-color: #080808;
    color: #D9D9D9;
    padding: 2px;
}
section{
    border-radius: 8px;
    padding: 4px;
    font-weight: bold;
    font-size: large;
    background-color:#595959;
}
#rodape{
    padding: 5px;
    margin: 0px;
}