@charset "UTF-8";
body{
    text-align: center;
    margin: auto;
    width:800px;
    background-color: rgb(185, 243, 243);
}

h1{
    color: rgb(19, 184, 184);
}

#principal{
    text-align: center;
    text-decoration: underline;
    background-color: rgb(5, 163, 190);
    color: white;
    width: 500px;
    margin: auto;
}

.intermediario{
    color: rgb(155, 155, 67);
}

.avancado{
    color: rgb(155, 67, 67);
}

.basico{
    color: rgb(74, 155, 67);
}

h2{
    color: rgb(6, 83, 83);
}