@charset "UTF-8";
body{
    background-color: black;
    color: rgb(253, 253, 253);
    width: 700px;
    margin: auto;
    font-size: 15px;
    font-family:"Comic Sans MS", "Comic Sans", cursive;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
ul{
    margin: auto;
}
div{
    text-align: center;
}